.slides{
    display:none;
    margin-left: 18%;
}

button{
    height: 20px;
    width: 20px;
    margin-left: 32%;
    margin-top: 5%;
    
  
}
img{
    max-width: 70%;
    height: 50%;
    margin-bottom: 1%;

}

