@font-face {
    font-family: tenorite;
    src: url(tenorite/Tenorite-Regular.ttf);
}

body{
    overscroll-behavior-y: none;
    margin:0;
}

nav{
    background-color: #85a0a950;
    width: 10%;
    position: fixed; 
    height: 100%; 
    margin:70px 0 0 0;
    padding: 0; 
}

ul {
    list-style-type: none; 
    padding: 0; 
    overflow: auto;
    font-family: tenorite;
}

li a {
    margin: 0;
    display: block;
    color: #000;
    padding: 8px 12px;
    text-decoration: none;
    font-family: tenorite;
    font-size:1.5vw;
}

li a:hover {
    background-color: #6f848d60;
    color: white;
    font-family: tenorite;
}

.mainBody{
    float:left;
    margin-left: 10%;
    margin-right: 5%;
    margin-top:7%;
    padding: 1px 16px;
    height:1000px;
    font-family: tenorite;
    color: black;
    width:85%;
}

h2{
    font-size:2em;
    padding:5px;
}

p{
    font-size:1.2em;
    padding:0;
    text-align:justify;
    text-justify: inter-character;
    overflow-wrap: break-word;
}

img{
    width:100%;
}

header{
    float: left;
    background-color: #85a0a9;
    margin: 0; 
    padding: 0; 
    width: 100%;
    position: fixed; 
    height: 70px; 
    font-family: tenorite;
    text-align:center;
}

.greenText{
    background-color:green;
    font-size:1.2em;
    color:white;
}