@font-face {
    font-family: tenorite;
    src: url(/tenorite/Tenorite-Regular.ttf);
}

p{
    font-family: tenorite;
    font-size:20px;
    color:white;
}

ul{
    background-color:mediumslateblue;
    list-style-type: none;

}

li a{
    color:white;
    font-family: tenorite;
}