@font-face {
    font-family: tenorite;
    src: url(/tenorite/Tenorite-Regular.ttf);
}

/* list */

ul{
    list-style-type: none;
    overflow: hidden;
    display:block;
    background-color:mediumslateblue;
}
ol{
    list-style-type: none;
}

li a{
    background-color:mediumslateblue;
    color:white;
    float: left;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

li a:hover{
    color: mediumslateblue;
    background-color:white;
}

/* dropdown */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content{
    float: left;
    display: none;
    background-color:mediumslateblue;
    color:black;
    min-width: 150px;
}

.dropdown:hover .dropdown-content{
    display: block;
    float: left;
}

nav{
    height:20%;
    background-color:blue;
}