@font-face {
    font-family: tenorite;
    src: url(/tenorite/Tenorite-Regular.ttf);
}

p{
    font-family: tenorite;

}

ul{
    background-color:mediumslateblue;
    list-style-type: none;
    overflow: hidden;
}

li a{
    color:white;
    font-family: tenorite;
    float: left;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

li a:hover{
    color: mediumslateblue;
    background-color:white;
}