@font-face {
    font-family: tenorite;
    src: url(/tenorite/Tenorite-Regular.ttf);
}

html{
    background-color: black;
    color:whitesmoke;
}

h1{
    font-family: tenorite;
    font-size: 10vw;
    text-align:center;
    margin: 0;
    padding: 22% 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 20px #00000055;
    letter-spacing: 3px;
}

h2{
    font-family: tenorite;
    font-size: 3vw;
    text-align:center;
    margin: 0;
    padding: 12% 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 7px #00000055;
    letter-spacing: 2px;
}

section{
    background-color: mediumturquoise;
}

p{
    font-size: 1vw;
    font-family: tenorite;
    color:white;
    margin:0;
    padding:5px 0;
}

.photo1{
    background-image:url(images/bricks.jpg);
    min-height: 100%;
}

.photo2{
    background-image:url(images/ice_landscape.png);
    min-height: 50vh;
}

.photo3{
    background-image:url(images/mountain.jpg);
    min-height: 50vh;
}

.photo4{
    background-image:url(images/night_sky.png);
    min-height: 50vh;
}

.photo1, .photo2, .photo3, .photo4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 100%;
}